@media print {
	.hide-on-print {
		display: none;
	}

	.skills-table {
		font-size: 0.7em;
	}

	.skills-row {
		line-height: 1em;
	}
}

.skills-row {
	line-height: 2em;
}

.project-skills-and-date {
	font-size: 0.7em;
}

.cursor-hand {
	cursor: pointer;
}

.strike-through {
	text-decoration: line-through;
}
